<div class="profile-nav onhover-dropdown translate-btn p-0">
  <div class="media profile-media" (clickOutside)="hideDropdown()">
   <!-- <app-button
      [class]="'btn dropdown-toggle p-0 language-selector'"
      [id]="'translate_btn'"
&lt;!&ndash;      [spinner]="false"&ndash;&gt;
      (click)="clickHeaderOnMobile()"
    >
      <div class="d-flex align-items-center gap-1">
        <div class="iti-flag {{ selectedLanguage.icon }}"></div>
        <span class="language-code">{{ selectedLanguage.code.toUpperCase() }}</span>
      </div>
    </app-button>-->
  </div>
  <ul class="profile-dropdown onhover-show-div language-dropdown" [class.active]="active">
    @for (language of languages; track language) {
    <li [class.active-language]="language.code === selectedLanguage.code">
      <a class="dropdown-i" href="javascript:void(0)" (click)="selectLanguage(language)">
        <div class="iti-flag {{ language.icon }}"></div>
        <span>{{ language.language }}</span>
        @if (language.code === selectedLanguage.code) {
          <i class="ri-check-line ms-auto text-success"></i>
        }
      </a>
    </li>
    }
  </ul>
</div>
